################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/SINV_emu/v15
/src/Debug/SINV_emu.tlog
/src/Debug
/src/SINV_emu.vcxproj.user
/src/ROM
/src/CPU/invaders_e.h
/src/CPU/invaders_f.h
/src/CPU/invaders_g.h
/src/CPU/invaders_h.h